* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Icons size */
ion-icon { font-size: 32px; }
/* Alignment of the alert message */
.alert { display: flex; align-items: center; gap: 4px; }
/* Icons clicks */
.click-icon { transition: all 150ms ease-in-out }
.click-icon:hover { cursor: pointer; color: rgb(36, 255, 47); }
button { background: transparent; border: none; outline: none; }